footer {
    background-color: #f5f5f7;
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}

footer h5 {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    color: #1d1d1f;
}

footer a {
    color: #585a5cc2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1d1d1f;
}
