/* seccion de aterrizaje foto del iphone 17 */

#aterrizaje {
    width: 100%;
    height: 95vh;
}

.textoAterrizaje {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.textoAterrizaje h1 {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 2.05;
}

.textoAterrizaje h2 {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.52;
    margin-top: 1rem;
}

.buttonAterrizaje .btn {
    transform: translate(-50%, -50%);
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 1s ease;
}

.buttonAterrizaje .comprar {
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 0.75rem 2rem;
}

.buttonAterrizaje .informacion {
    position: absolute;
    top: 40%;
    left: 54%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.75rem 2rem;
}

.buttonAterrizaje .comprar:hover {
    background-color: #868181;
    color: black;
}

.buttonAterrizaje .informacion:hover {
    background-color: white;
    color: black;
}

/* fin de seccion de aterrizaje de la imagen del iphone*/

/* seccion del iphone nuevo */

.textoiPhone h1 {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
}

.textoiPhone p {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.buttonComprariPhone .btn{
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 1s ease;
}

.buttonComprariPhone .comprar{
    position: absolute;
    top: 125%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #177bda;
    color: white;
    padding: 0.75rem 2rem;
}

.buttonComprariPhone .informacion{
    position: absolute;
    top: 125%;
    left: 56%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: blue;
    padding: 0.75rem 2rem;
    border-color: blue;
}

.buttonComprariPhone .comprar:hover{
    background-color: #0e5aa7;
    color: white;
}
.buttonComprariPhone .informacion:hover{
    background-color: blue;
    color: white;
}

#iPhoneFamily {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}


/* fin de la seccion de iphone nuevo */

/* seccion de productos */


.cardwatch{
    background-color: #f5f5f7;
    overflow: hidden;
    
}

.cardair{
    background-color: #bee2f0;
    overflow: hidden;
    
}

.cardipadpro{
    background-color: #000000;
    overflow: hidden;
    
}

.cardmacbook{
    background-image: linear-gradient(135deg, #d4eaf7 20%, #e3f0f8 100%);
    overflow: hidden;
    
}

.cardproipad h1, .cardproipad h5{
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    color: white;
}

.cardbtn .btn{
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 1s ease;
    text-decoration: none;
}

.cardbtn .infoProduct{
    background-color: rgb(20, 45, 187);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(20, 45, 187);
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
}

.cardbtn .infoProduct:hover{
    background-color: rgb(10, 25, 127);
    color: white;
}

.cardbtn .comprarProduct{
    background-color: transparent;
    
    border: 1px solid rgb(20, 45, 187);
    padding: 0.5rem 1.5rem;
}

.cardbtn .comprarProduct:hover{
    background-color: rgb(52, 139, 211);
    color: white;
}



.logoair{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    margin: 0 auto;
}

.imgair {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-top: auto;
}

/* fin de la seccion de productos */

/* seccion de carrusel */

.carousel, .carousel-inner {
    background-color: #000000;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 1rem;
}

.carousel-item {
    transition: transform 0.8s ease-in-out;
}

.carousel-caption {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-caption .btn {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    transition: all 1s ease;
}

.carousel-caption .btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media (max-width: 1600px) {
    .buttonAterrizaje .comprar{
        top: 40%;
        left: 44%;
    }

    .buttonAterrizaje .informacion{
        top: 40%;
        left: 56%;
    }

    .buttonComprariPhone .informacion{
        left: 58%;
    }

}

@media (max-width: 768px) {
    .textoAterrizaje h1 {
        padding-top: 2rem;
        font-weight: 200;
        font-size: 2.5rem;
        line-height: 1;
    }

    .textoAterrizaje h2 {
        font-weight: 100;
        font-size: 1.2rem;
        padding-top: 0.5rem;  
        margin-top: 0;
        line-height: 0.88;
    }

    .buttonAterrizaje .comprar{
        top: 42%;
        left: 40%;
        transform: translate(-60%, -50%);
        padding: 1.3rem 1.5rem;
    }

    .buttonAterrizaje .informacion{
        top: 42%;
        left: 65%;
        transform: translate(-35%, -50%);
        padding: 0.5rem 1.5rem;
    }

    .textoiPhone h1 {
        top: 110%;
        font-weight: 200;
        font-size: 3rem;
    }

    .textoiPhone p {
        top: 117%;
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 1;
    }

    .buttonComprariPhone .comprar{
        top: 127%;
        left: 35%;
        transform: translate(-60%, -50%);
        padding: 1.3rem 1.5rem;
        
    }

    .buttonComprariPhone .informacion{
        top: 127%;
        left: 68%;
        transform: translate(-35%, -50%);
        padding: 0.5rem 1.5rem;
        
    }

    .imgair {
        height: 330px;
    }

    .logoair {
        width: 50%;
    }

    .carousel-inner img {
        height: 50vh;
        object-fit: cover;
    }

    .carousel-caption {
        width: 70%;
        bottom: 0.5rem;
    }

    .carousel-caption h5 {
        font-size: 0.875rem;
    }

    .carousel-caption .btn {
        padding: 0.25rem 0.75rem;
        font-size: 0.875rem;
    }

}

/* responsive laptop */

@media (min-width: 1024px) and (max-width: 1366px) {

    .textoAterrizaje {
        top: 22%;
    }

    

    .buttonAterrizaje .comprar {
        top: 42%;
        left: 43%;
    }

    .buttonAterrizaje .informacion {
        top: 42%;
        left: 55%;
    }
    

    .textoiPhone h1 {
        top: 110%;
    }

    .textoiPhone p {
        top: 118%;
    }

    .buttonComprariPhone .comprar{
        top: 127%;
        left: 41%;
    }

    .buttonComprariPhone .informacion{
        top: 127%;
        left: 57%;
    }
}