.navbar-blur-dark {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.86) !important;
}
nav {
    font-family: "SF Pro Text", sans-serif;
    font-size: 0.7rem;
    z-index: 1000;
}

nav .nav-apple {
    font-size: 1rem;
}

nav .nav-link {
    color: #cecaca;
    transition: all 0.3s ease;
}

nav .nav-link:focus, .nav-link:active, .nav-link:hover {
    color: #ffffff !important;
    
}