.tituloPrincipal {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

.containerActualizar {
    max-width: 35%;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2{
    font-family: "SF Pro Text", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.imgActualizar {
   width: 30%;
}

.textAyuda {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.contenedorGridAyuda {
    margin-top: 3rem;
}


.col h3 {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.tituloIcono i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: black;
}

.tituloIcono{
    margin-bottom: 1.5rem;

}

.contenedorGridAyuda p {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}


.imgHeader img{
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {

    .imgHeader img{
        height: auto;
        width: 300%;
    }

    .tituloPrincipal {
        font-size: 2rem;
        margin-top: 20%;
        margin-bottom: 15%;
    }

    .containerActualizar {
        max-width: 80%;
    }

    .imgActualizar {
        width: 60%;
    }

    .textAyuda {
        font-size: 1.8rem;
    }
}
